.fcitx-keyboard-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none; /* disable text select */
  font-family: sans-serif;
  container-type: size; /* for mask */
}

.fcitx-keyboard-toolbar {
  height: 20%;
}

.fcitx-keyboard {
  display: flex;
  flex-direction: column;
  flex: 1; /* calc(100% - toolbar.height) */
}

.fcitx-keyboard-mask {
  position: fixed;
  bottom: 0;
  height: 80cqh;
  width: 100%;
}

.fcitx-keyboard-row {
  display: flex;
  flex: 1;
}

.fcitx-keyboard-key-container {
  position: relative;
  flex: 1;
  container-type: size;
}

.fcitx-keyboard-key {
  position:absolute;
  inset: 4px 3px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px rgb(0 0 0 / 30%);
  font-size: 40cqh;
}

.fcitx-keyboard-pressed .fcitx-keyboard-key {
  background-color: #bcc0c7;
}

.fcitx-keyboard-key.fcitx-keyboard-shift svg {
  height: 50%;
}

.fcitx-keyboard-key:is(.fcitx-keyboard-shift, .fcitx-keyboard-backspace, .fcitx-keyboard-enter) {
  background-color: #bcc0c7;
}

.fcitx-keyboard-pressed .fcitx-keyboard-key:is(.fcitx-keyboard-shift, .fcitx-keyboard-backspace, .fcitx-keyboard-enter) {
  background-color: white;
}

.fcitx-keyboard-key.fcitx-keyboard-backspace svg {
  height: 60%;
}

.fcitx-keyboard-key.fcitx-keyboard-enter svg {
  height: 60%;
}
