.fcitx-keyboard-hidden {
  display: none!important;
}

/* Harmony default */
.fcitx-keyboard-container.fcitx-light {
  --background-color: #e3e4e6;
  --highlight-color: #0a59f7;
  --toolbar-button-color: #595a5c;
  --pressed-toolbar-button-color: #505153;
  --pressed-toolbar-button-background-color: #c8cacf;
  --key-color: white;
  --pressed-key-color: #bcc0c7;
  --key-label-color: black;
  --key-sub-label-color: #7f7f7f;
  --popover-container-color: white;
  --highlight-candidate-color: #fefefe;
  --highlight-candidate-press-color: #ebecf0;
  --text-color: #171717;
  --status-area-circle-color: #595a5c;
  --status-area-text-color: black;
}

.fcitx-keyboard-container.fcitx-dark {
  --background-color: #242424;
  --highlight-color: #5291ff;
  --toolbar-button-color: #a7a7a7;
  --pressed-toolbar-button-color: #b5b5b5;
  --pressed-toolbar-button-background-color: #454545;
  --key-color: #666;
  --pressed-key-color: #3d3d3d;
  --key-label-color: white;
  --key-sub-label-color: #aaa;
  --popover-container-color: #3d3d3d;
  --highlight-candidate-color: #3a3a3a;
  --highlight-candidate-press-color: #5b5b5b;
  --text-color: #e0e0e0;
  --status-area-circle-color: #666;
  --status-area-text-color: white;
}

.fcitx-keyboard-container {
  height: 100%;
  user-select: none; /* disable text select */
  font-family: sans-serif;
  container-type: size; /* for mask */
  background-color: var(--background-color);

  --disabled-color: #7f7f7f;
  --function-key-color: var(--pressed-key-color);
  --pressed-function-key-color: var(--key-color);
  --popover-label-color: var(--key-label-color);
  --popover-highlight-label-color: white;
  --popover-highlight-color: var(--highlight-color);
  --highlight-text-color: var(--highlight-color);
  --preedit-color: var(--text-color);
  --status-area-circle-content-color: white;
}

.fcitx-keyboard-return-bar {
  height: 20%;
  padding-left: 2%;
  display: flex;
  align-items: center;
}

.fcitx-keyboard-editor {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.fcitx-keyboard-editor-button-container {
  position: relative;
  container-type: size;
}

.fcitx-keyboard-editor-button {
  position: absolute;
  inset: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 35cqh;
  box-shadow: 0 1px rgb(0 0 0 / 30%);
}

.fcitx-keyboard-editor-button svg {
  height: 60cqh;
}

.fcitx-keyboard-editor-cursor {
  background-color: var(--key-color);
  color: var(--key-label-color);
}

.fcitx-keyboard-pressed .fcitx-keyboard-editor-cursor {
  background-color: var(--pressed-key-color);
}

.fcitx-keyboard-editor-function {
  background-color: var(--function-key-color);
  color: var(--key-label-color);
}

.fcitx-keyboard-pressed .fcitx-keyboard-editor-function {
  background-color: var(--pressed-function-key-color);
}

.fcitx-keyboard-status-area {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 5cqw;
  overflow: hidden auto;
}

.fcitx-keyboard-status-area-container {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1cqw;
}

.fcitx-keyboard-status-area-circle {
  width: min(12.5cqw, 100px);
  aspect-ratio: 1 / 1;
  border-radius: 7cqw;
  background-color: var(--status-area-circle-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6cqw;
  color: var(--status-area-circle-content-color);
}

.fcitx-keyboard-status-area-circle svg {
  height: 60%;
}

.fcitx-keyboard-status-area-text {
  text-align: center;
  color: var(--status-area-text-color);
}

.fcitx-keyboard-globe svg {
  height: 50cqh;
}

.fcitx-keyboard-toolbar {
  height: 20%;
  padding-left: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  container-type: size;
}

.fcitx-keyboard-toolbar-button {
  height: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcitx-keyboard-toolbar-button.fcitx-keyboard-pressed {
  background-color: var(--pressed-toolbar-button-background-color); 
}

.fcitx-keyboard-toolbar-button svg {
  height: 70%;
  color: var(--toolbar-button-color);
}

.fcitx-keyboard-toolbar-button.fcitx-keyboard-pressed svg {
  color: var(--pressed-toolbar-button-color);
}

.fcitx-keyboard-toolbar-button.fcitx-keyboard-disabled svg {
  color: var(--disabled-color);
}

.fcitx-keyboard-candidate-bar {
  height: 20%;
  display: flex;
  align-items: center;
  container-type: size;
}

.fcitx-keyboard-preedit {
  height: 32cqh;
  font-size: 24cqh;
  line-height: 24cqh;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: var(--preedit-color);
}

.fcitx-keyboard-pre-caret,.fcitx-keyboard-post-caret {
  text-wrap: nowrap;
}

.fcitx-keyboard-caret {
  width: 1px;
  height: 24cqh;
  background-color: var(--preedit-color);
  flex-shrink: 0;
}

.fcitx-keyboard-candidates-container {
  padding-left: 6cqh;
  box-sizing: border-box; /* include padding-left */
  width: calc(100% - 80cqh);
  height: 100cqh;
}

.fcitx-keyboard-candidates {
  display: flex;
  column-gap: 1cqw;
  overflow: scroll hidden;
  scrollbar-width: none;
}

.fcitx-keyboard-expanded .fcitx-keyboard-candidates {
  flex-wrap: wrap;
  overflow: hidden scroll;
  gap: 16cqh 0;
  width: 80cqw;
}

.fcitx-keyboard-candidates-container .fcitx-keyboard-candidates:nth-child(1) {
  margin-top: 16cqh;
}

.fcitx-keyboard-expanded :is(.fcitx-keyboard,.fcitx-keyboard-mask) {
  display: none;
}

.fcitx-keyboard-candidates::-webkit-scrollbar { 
  display: none; /* Harmony's webview */
}

.fcitx-keyboard-candidate {
  height: 68cqh;
  font-size: 40cqh;
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.fcitx-keyboard-candidate-inner {
  padding: 7.5cqh 15cqh;
  border-radius: 10cqh;
}

.fcitx-keyboard-expanded .fcitx-keyboard-candidate {
  min-width: 15cqw; /* At most 5 in a row. Not exact 80/5 to tolerate rounding issue. */
}

.fcitx-keyboard-highlighted.fcitx-keyboard-pressed .fcitx-keyboard-candidate-inner {
  background-color: var(--highlight-candidate-press-color);
}

.fcitx-keyboard-highlighted .fcitx-keyboard-candidate-inner {
  background-color: var(--highlight-candidate-color);
  color: var(--highlight-text-color);
}

.fcitx-keyboard-pressed .fcitx-keyboard-candidate-inner {
  background-color: var(--highlight-candidate-color);
}

.fcitx-keyboard-candidate-inner {
  color: var(--text-color);
}

.fcitx-keyboard {
  display: flex;
  flex-direction: column;
  flex: 1; /* calc(100% - toolbar.height) */
}

.fcitx-keyboard-frame {
  position: absolute;
  bottom: 0;
  height: 80cqh;
  width: 100%;
}

.fcitx-keyboard-row {
  display: flex;
  flex: 1;
}

.fcitx-keyboard-key-container {
  position: relative;
  flex: 1;
  container-type: size;
}

.fcitx-keyboard-key {
  position: absolute;
  inset: 8cqh 6cqh;
  border-radius: 7cqh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--key-color);
  color: var(--key-label-color);
  box-shadow: 0 2cqh rgb(0 0 0 / 30%);
  font-size: 40cqh;
}

.fcitx-keyboard-pressed .fcitx-keyboard-key {
  background-color: var(--pressed-key-color);
}

.fcitx-keyboard-key.fcitx-keyboard-shift svg {
  height: 50%;
}

.fcitx-keyboard-key:is(.fcitx-keyboard-shift, .fcitx-keyboard-backspace, .fcitx-keyboard-enter, .fcitx-keyboard-symbol) {
  background-color: var(--function-key-color);
}

.fcitx-keyboard-pressed .fcitx-keyboard-key:is(.fcitx-keyboard-shift, .fcitx-keyboard-backspace, .fcitx-keyboard-enter, .fcitx-keyboard-symbol) {
  background-color: var(--pressed-function-key-color);
}

.fcitx-keyboard-key.fcitx-keyboard-backspace svg {
  height: 60cqh;
}

.fcitx-keyboard-key.fcitx-keyboard-enter svg {
  height: 60cqh;
}

.fcitx-keyboard-sub-label {
  position: absolute;
  font-size: 25cqh;
  color: var(--key-sub-label-color);
}

.fcitx-keyboard-key-top {
  top: 1cqh;
}

.fcitx-keyboard-key-right {
  right: 1cqh;
}

.fcitx-keyboard-symbol-selector {
  display: flex;
  font-size: 8cqh;
}

.fcitx-keyboard-symbol-categories {
  width: 20%;
}

.fcitx-keyboard-symbol-category {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--key-label-color);
}

.fcitx-keyboard-symbol-category.fcitx-keyboard-pressed {
  background-color: var(--pressed-key-color);
}

.fcitx-keyboard-symbol-panel {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden auto;
}

.fcitx-keyboard-symbol-item {
  height: 20%;
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--key-label-color);
}

.fcitx-keyboard-symbol-item:active {
  background-color: var(--pressed-key-color);
}

.fcitx-keyboard-contextmenu-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.fcitx-keyboard-contextmenu {
  width: fit-content;
  font-size: 8cqh;
  border-radius: 4px;
  background-color: var(--popover-container-color);
  color: var(--popover-label-color); 
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
  position: fixed;
  max-height: 100cqh;
  overflow: hidden auto;
}

.fcitx-keyboard-contextmenu hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: var(--disabled-color);
}

.fcitx-keyboard-contextmenu-item {
  padding: 2cqh;
}

.fcitx-keyboard-contextmenu-item.fcitx-keyboard-pressed {
  background-color: #bcc0c7;
}

.fcitx-keyboard-popover-container {
  background-color: var(--popover-container-color);
  display: flex;
  position: fixed;
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
}

.fcitx-keyboard-popover-cell {
  position: relative;
  container-type: size;
}

.fcitx-keyboard-popover {
  position: absolute;
  inset: 8cqh 6cqh;
  border-radius: 7cqh;
  font-size: 40cqh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--popover-label-color);
}

.fcitx-keyboard-swipe .fcitx-keyboard-popover {
  color: var(--popover-highlight-color);
}

.fcitx-keyboard-highlighted .fcitx-keyboard-popover {
  background-color: var(--popover-highlight-color);
  color: var(--popover-highlight-label-color);
}

.fcitx-keyboard-invisible {
  position: absolute;
  color: transparent;
  font-size: 16px;
}

.fcitx-keyboard-candidates-side {
  display: none;
}

.fcitx-keyboard-expanded .fcitx-keyboard-candidates-side {
  width: 20cqw;
  position: absolute;
  right: 0;
  top: 100cqh;
  display: flex;
  flex-direction: column;
}

.fcitx-keyboard-side-button-container {
  position: relative;
  container-type: size;
  height: 25%;
  width: 100%;
}

.fcitx-keyboard-side-button {
  position: absolute;
  inset: 4px;
  border-radius: 10cqh;
  background-color: var(--function-key-color);
  box-shadow: 0 2cqh rgb(0 0 0 / 30%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcitx-keyboard-pressed:not(.fcitx-keyboard-disabled) .fcitx-keyboard-side-button {
  background-color: var(--pressed-function-key-color);
}

.fcitx-keyboard-side-button-container.fcitx-keyboard-disabled svg {
  color: var(--disabled-color);
}

.fcitx-keyboard-side-button-container svg {
  color: var(--key-label-color);
}

.fcitx-keyboard-candidate-bar .fcitx-keyboard-toolbar-button svg {
  transform: rotate(270deg);
}

.fcitx-keyboard-expanded .fcitx-keyboard-candidate-bar .fcitx-keyboard-toolbar-button svg {
  transform: rotate(90deg);
}
