.fcitx-keyboard-hidden {
  display: none!important;
}

.fcitx-keyboard-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none; /* disable text select */
  font-family: sans-serif;
  container-type: size; /* for mask */
}

.fcitx-keyboard-return-bar {
  height: 20%;
  padding-left: 2%;
  display: flex;
  align-items: center;
}

.fcitx-keyboard-editor {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.fcitx-keyboard-editor-button-container {
  position: relative;
  container-type: size;
}

.fcitx-keyboard-editor-button {
  position: absolute;
  inset: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 35cqh;
  box-shadow: 0 1px rgb(0 0 0 / 30%);
}

.fcitx-keyboard-editor-button svg {
  height: 60cqh;
}

.fcitx-keyboard-editor-cursor {
  background-color: white;
}

.fcitx-keyboard-pressed .fcitx-keyboard-editor-cursor {
  background-color: #bcc0c7;
}

.fcitx-keyboard-editor-function {
  background-color: #bcc0c7;
}

.fcitx-keyboard-pressed .fcitx-keyboard-editor-function {
  background-color: white;
}

.fcitx-keyboard-status-area {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 5cqw;
  overflow-y: auto;
}

.fcitx-keyboard-status-area-container {
  flex: 0 1 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1cqw;
}

.fcitx-keyboard-status-area-circle {
  width: min(12.5cqw, 100px);
  aspect-ratio: 1 / 1;
  border-radius: 7cqw;
  background-color: #595a5c;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6cqw;
  color: white;
}

.fcitx-keyboard-status-area-circle svg {
  height: 60%;
}

.fcitx-keyboard-status-area-text {
  text-align: center;
}

.fcitx-keyboard-globe svg {
  height: 50cqh;
}

.fcitx-keyboard-toolbar {
  height: 20%;
  padding-left: 15%;
  display: flex;
  align-items: center;
  gap: 5%;
}

.fcitx-keyboard-toolbar-button {
  height: 80%;
  aspect-ratio: 1 / 1;
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcitx-keyboard-toolbar-button.fcitx-keyboard-pressed {
  background-color: #c8cacf;
}

.fcitx-keyboard-toolbar-button svg {
  height: 70%;
  color: #595a5c;
}

.fcitx-keyboard-toolbar-button.fcitx-keyboard-pressed svg {
  color: #505153;
}

.fcitx-keyboard-toolbar-button.fcitx-keyboard-disabled svg {
  color: #7f7f7f;
}

.fcitx-keyboard-candidate-bar {
  height: 20%;
  padding: 0 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  container-type: size;
}

.fcitx-keyboard-preedit {
  height: 32cqh;
  font-size: 24cqh;
}

.fcitx-keyboard-candidates {
  height: 68cqh;
  display: flex;
  gap: 1%;
  overflow-x: scroll;
  scrollbar-width: none;
}

.fcitx-keyboard-candidates::-webkit-scrollbar { 
  display: none; /* Harmony's webview */
}

.fcitx-keyboard-candidate {
  font-size: 40cqh;
  padding: 7.5cqh 15cqh;
  border-radius: 10cqh;
  flex-shrink: 0;
}

.fcitx-keyboard-candidate.fcitx-keyboard-highlighted {
  background-color: white;
  color: #0a59f7;
}

.fcitx-keyboard {
  display: flex;
  flex-direction: column;
  flex: 1; /* calc(100% - toolbar.height) */
}

.fcitx-keyboard-frame {
  position: fixed;
  bottom: 0;
  height: 80cqh;
  width: 100%;
}

.fcitx-keyboard-row {
  display: flex;
  flex: 1;
}

.fcitx-keyboard-key-container {
  position: relative;
  flex: 1;
  container-type: size;
}

.fcitx-keyboard-key {
  position: absolute;
  inset: 4px 3px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 1px rgb(0 0 0 / 30%);
  font-size: 40cqh;
}

.fcitx-keyboard-pressed .fcitx-keyboard-key {
  background-color: #bcc0c7;
}

.fcitx-keyboard-key.fcitx-keyboard-shift svg {
  height: 50%;
}

.fcitx-keyboard-key:is(.fcitx-keyboard-shift, .fcitx-keyboard-backspace, .fcitx-keyboard-enter, .fcitx-keyboard-symbol) {
  background-color: #bcc0c7;
}

.fcitx-keyboard-pressed .fcitx-keyboard-key:is(.fcitx-keyboard-shift, .fcitx-keyboard-backspace, .fcitx-keyboard-enter, .fcitx-keyboard-symbol) {
  background-color: white;
}

.fcitx-keyboard-key.fcitx-keyboard-backspace svg {
  height: 60cqh;
}

.fcitx-keyboard-key.fcitx-keyboard-enter svg {
  height: 60cqh;
}

.fcitx-keyboard-symbol-selector {
  display: flex;
  font-size: 8cqh;
}

.fcitx-keyboard-symbol-categories {
  width: 20%;
}

.fcitx-keyboard-symbol-category {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcitx-keyboard-symbol-category.fcitx-keyboard-pressed {
  background-color: #bcc0c7;
}

.fcitx-keyboard-symbol-panel {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.fcitx-keyboard-symbol-item {
  height: 20%;
  flex: 0 0 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fcitx-keyboard-symbol-item:active {
  background-color: #bcc0c7;
}

.fcitx-keyboard-contextmenu-container {
  position: fixed;
  width: 100%;
  height: 100%;
}

.fcitx-keyboard-contextmenu {
  width: fit-content;
  font-size: 8cqh;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 0 8px rgb(0 0 0 / 30%);
  position: fixed;
}

.fcitx-keyboard-contextmenu-item {
  padding: 12px;
}

.fcitx-keyboard-contextmenu-item.fcitx-keyboard-pressed {
  background-color: #bcc0c7;
}

.fcitx-keyboard-invisible {
  position: absolute;
  color: transparent;
  font-size: 16px;
}
